<!DOCTYPE html>
<html>
  <head>
  	<% include partials/template/head.ejs %>
  </head>
  <body class="gray-bg <%= page %> ">
  	
  	<section class="layout container jumbotron">
		
		<div class="primary">
			<% include partials/content/uploads/fileUpload.ejs %>	
		</div><!-- primary -->

		<aside class="secondary">
			
		</aside><!-- secondary -->

	</section><!-- layout -->

	<% include partials/template/footer.ejs %>
    <% include partials/template/jssources.ejs %>

  </body>
</html>