<footer class="container">
	<div class="footer">
		<section class="layout">
			<div>
				<strong class="text-left text-muted">Copyright TOSAP+ </strong>© 2015 - 2016
			</div>
		</section><!-- layout -->
	</div>
</footer><!-- footer -->